[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
tqdm = "*"
nltk = "==3.2.5"
sentence-transformers = "==2.0.0"
transformers = "==4.9.2"

[dev-packages]

[requires]
python_version = "3.8"
